.main-body {
	background-image: url("../resources/img/background-body.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body{
	margin: 0;
}

.logo {
	background-image: url("../resources/img/logo.svg");
	height: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

@font-face {
	font-family: "Quicksand";
	src: url("../resources/fonts/Quicksand-Medium.ttf");
}

@font-face {
	font-family: "Honey";
	src: url("../resources/fonts/HoneyScript-Light.ttf");
}

* {
	font-family: "Quicksand";
	font-size: 14px;
}

.title01 {
    font-family: "Honey";
    font-size: 14px;
    letter-spacing: 3px;
}

.background {
	background-image: url("../resources/img/background.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.cart-icon{
    background-image: url("resourses/cartico.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.poster-img-1{
    height: 500px;
    background-repeat: no-repeat;
}

.poster-caption{
    margin-bottom: 150px;
}

.poster-title{
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.poster-txt{
    color: gray;
    font-size: 20px;
}

.poster-caption-1{
    margin-bottom: 70px;
    margin-right: 280px;
}

.wsh-banner{
	width: 100vw;
}

.pm{
	height: 65px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.pm1{
	background-image: url("../resources/img/payment_img/visa_img.png");
}

.pm2{
	background-image: url("../resources/img/payment_img/american_express_img.png");
}

.pm3{
	background-image: url("../resources/img/payment_img/mastercard_img.png");
}

.pm4{
	background-image: url("../resources/img/payment_img/paypal_img.png");
}

.singleProduct{
    padding-top: 65px;
    padding-bottom: 145px;
    padding: 20px;
}

.mainImg{
    height: 640px;
    background-image: url("resourses/empty.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-qty{
    width: 600px;
    height: 45px;
    padding: 10px;
}

.qty-buttons{
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    border: solid 1px rgb(72,71,71);
}

.qty-inc,.qty-dec{
    width: 100%;
    height: 50%;
    justify-content: flex-end;
    cursor: pointer;
}

.qty-inc{
    border-top-right-radius: 5px;
}

.qty-dec{
    border-bottom-right-radius: 5px;
}

.emptyView{
    height: 400px;
    background-image: url("resourses/watchlistEmptyView.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.emptyCart{
	height: 400px;
	background-image: url("../resources/img/emptycart.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}